NODE_ENV=development

DB_HOST=aws-1-ap-northeast-2.pooler.supabase.com
DB_PORT=6543
DB_USERNAME=postgres.amxzbzflkqenzguutisq
DB_PASSWORD=change_me_with_your_password
DB_DATABASE=postgres

PAYPAL_CLIENT_ID=your_paypal_sandbox_client_id
PAYPAL_CLIENT_SECRET=your_paypal_sandbox_client_secret
PAYPAL_API_BASE_URL=https://api-m.sandbox.paypal.com

VIETQR_API_BASE_URL=https://dev.vietqr.org
VIETQR_USERNAME=your_vietqr_sandbox_username
VIETQR_PASSWORD=your_vietqr_sandbox_password
VIETQR_BANK_CODE=your_bank_code
VIETQR_BANK_ACCOUNT=your_bank_account
VIETQR_BANK_ACCOUNT_NAME=your_bank_account_name_without_accents
VIETQR_PAYMENT_TTL_MINUTES=15
